*~

_build/
bb-files.txt
**.DS_Store
/build/cache
/build/gocache
/build/usercache
/anki/vector-cloud
/vm-deps-installed
/anki-deps
/old-toolchain
seek/third_party/
seek/doom/build-vector/
seek/doom/seek-doom
seek/doom/wad/freedoom1.wad
seek/doom/wad/*.zip
