*~

_build/
bb-files.txt
**.DS_Store
/build/cache
/build/gocache
/build/usercache
/anki/vector-cloud
/vm-deps-installed
/anki-deps
/old-toolchain

# Generated at apply-overlay time
seek/overlays/anki/victor/resources/config/engine/animations/boot_anim.raw
seek/overlays/anki/victor/resources/config/engine/animations/boot_anim_20.raw

