[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = whinlatter
[submodule "anki/wired"]
	path = anki/wired
	url = https://github.com/Victor-Rebuild/wire_d-1.6-rebuild-2
[submodule "poky/bitbake"]
	path = poky/bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "poky/openembedded-core"]
	path = poky/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "anki/vic-verbose"]
	path = anki/vic-verbose
	url = https://github.com/Victor-Rebuild/vic-verbose
[submodule "external/purplpkg"]
	path = external/purplpkg
	url = https://github.com/purpl-org/purplpkg
[submodule "anki/victor-1.6"]
	path = anki/victor-1.6
	url = https://github.com/Victor-Rebuild/victor-1.6-rebuild-2
[submodule "anki/vic-cloudswitch"]
	path = anki/vic-cloudswitch
	url = https://github.com/Victor-Rebuild/vic-cloudswitch
	branch = 1.6-rebuild
