[Unit]
Description=Init-audio Service (early ADSP for boot music)
SourcePath=/etc/initscripts/init_qcom_audio
DefaultDependencies=no
After=find_partitions.service
Wants=find_partitions.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/etc/initscripts/init_qcom_audio start
ExecStop=/etc/initscripts/init_qcom_audio stop

[Install]
WantedBy=sysinit.target
WantedBy=multi-user.target
