[Unit]
Description=Hourly checks for update, made by Emily for 1.6 rebuild
After=network-online.target

[Service]
Type=simple

ExecStart=/bin/bash /sbin/update-engine-rebuild -r
